body 
{background-color: #FBF7ED;}


header {
  display: flex;
  flex-direction: column;
  min-height: 30vh;
  justify-content: center;
  align-items: center;
}

#logo 
{text-decoration: none; color: black;}

.search-form 
{padding: 2rem; display: flex;}

.search-form input {
  font-size: 1.5rem;
  padding: 0.5rem;
  width: 100%;
  border: none;
  border: 2px solid #002E25;
  height: 3rem;
  outline: none;
}
.search-form button {
    border: none;
    padding: 0.5rem;
    font-size: 1.2rem;
    background: #002E25;
    color: white;
    cursor: pointer;
    width: 25%;
}

.recipes {cursor: pointer;}

.recipes h4 
{color:#002E25; font-weight: bold;}
